@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
@import "./vars.scss";
@import "./checkbox.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $ds-very-dark-gray;
  inset: 0;
  position: absolute;
  font-family: "JetBrains Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  width: 33.75rem;
}

h1 {
  color: $ds-gray;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.result-box {
  height: 5rem;
  background-color: $ds-dark-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1.5rem;

  .generated-password {
    font-size: 1.5rem;
    color: $ds-almost-white;
    background-color: transparent;
    border: none;
    font-family: inherit;
  }
  button {
    background-color: transparent;
    border: none;
  }
}

.settings-box {
  color: $ds-almost-white;
  background-color: $ds-dark-gray;
  padding: 1.5rem 2rem;

  .character-length-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #length-selector {
    display: block;
    width: 100%;
    margin: 1rem 0 2rem 0;
    accent-color: $ds-neon-green;
  }

  .length-value {
    font-size: 2rem;
    color: $ds-neon-green;
  }
}

.check-group {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  input {
    height: 1.25rem;
    width: 1.25rem;
    accent-color: $ds-neon-green;
    background: transparent !important;
  }
  .check-b {
    display: flex;
    flex-direction: row;
  }
}

.strength-box {
  background-color: $ds-very-dark-gray;
  margin: 2rem 0;
  padding: 1.25rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .rating-boxes-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-left: 0.9688rem;

    .rating {
      height: 1.75rem;
      width: 0.625rem;
      border-style: inset;
      border: 2px solid $ds-yellow;
    }

    .rating-full {
      background-color: $ds-yellow;
    }
    .rating-empty {
      border: 2px solid $ds-almost-white;
    }
  }
}

.generate-button {
  width: 100%;
  background-color: $ds-neon-green;
  border: none;
  font-size: 1.125rem;
  padding: 1.25rem;
  cursor: pointer;
  border: 2px solid $ds-neon-green;
  font-family: "JetBrains Mono", monospace;
  svg {
    margin-left: 1.5rem;
  }
}
.generate-button:hover {
  background-color: transparent;
  border: 2px solid $ds-neon-green;
  color: $ds-neon-green;
  path {
    fill: $ds-neon-green;
  }
}
