//Colors

$p11-white: #ffffff;
$p11-card-white: #fffbf6;
$p11-cream-BG: #f8e9dd;
$p11-medium-brown: #92857a;
$p11-dark-brown: #382314;
$p11-cyan: #76b5bc;
$p11-red: #ec755d;
$p11-red-highlighted: #ff9b86;
