@use "colors";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  @include fs-Body;
  color: colors.$p16-body-color;
  background-color: #fffdfa;

  margin-top: 5.5625rem;
  width: min(100% - 3rem, 69.375rem);
  margin-inline: auto;

  @media screen and (max-width: 800px) {
    width: min(100% - 2rem);
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    overflow-x: hidden;
  }
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  @include fs-H_XL;
  color: colors.$p16-dark-color;
  @media screen and (max-width: 800px) {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}
h2 {
  @include fs-H_L;
  color: colors.$p16-alt-accent-color;
  @media screen and (max-width: 800px) {
    font-size: 2rem;
    line-height: 2rem;
  }
}
h3 {
  @include fs-H_S;
  color: colors.$p16-light-color;
  cursor: pointer;
  &:hover {
    color: colors.$p16-alt-accent-color;
  }
}
h4 {
  @include fs-H_XS;
  color: colors.$p16-dark-color;
}

a {
  text-decoration: none;
  color: colors.$p16-body-color;
  &:hover {
    color: colors.$p16-accent-color;
  }
  margin-left: 2.5rem;
}

// Header --------------------------------------------

.top-bar {
  margin-bottom: 3.4375rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfa;

  img {
  }
  .desktop-menu {
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  .menu-button {
    border: none;
    z-index: 11;

    @media screen and (min-width: 800px) {
      display: none;
    }
  }
}

// Mobile Menu -----------------------------------------

.mobile-menu-wrapper {
  overflow: hidden;
  position: fixed;
  inset: 0;
  height: 100dvh;
  background-color: hsla(240, 100%, 5%, 0);
  transition: all 0.5s ease-in-out;

  @media screen and (min-width: 800px) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 100%;
  height: 100dvh;
  background-color: #f2f2f2;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  transition: all 0.5s ease-in-out;

  > a {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: colors.$p16-dark-color;
    &:hover {
      color: colors.$p16-accent-color;
    }
  }
}

.menu-open {
  left: 32%;
}
.menu-closed {
  left: 100%;
}
.wrapper-menu-open {
  background-color: hsla(240, 100%, 5%, 0.5);
}
.wrapper-menu-closed {
  background-color: hsla(240, 100%, 5%, 0);
}
.wrapper-menu-open + button {
  position: fixed;
  right: 1rem;
}

// Grid -----------------------------------------------

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "latest-article latest-article other-news"
    "latest-article latest-article other-news"
    "top-3 top-3 top-3";

  @media screen and (max-width: 800px) {
    grid-template-areas:
      "latest-article latest-article latest-article"
      "other-news other-news other-news"
      "top-3 top-3 top-3";
  }
}

// Latest Article --------------------------------------

.latest-article {
  grid-area: latest-article;
  margin-right: 1.875rem;

  @media screen and (max-width: 800px) {
    margin-bottom: 4rem;
    margin-right: 0;
  }

  .latest-article__img {
    width: 100%;
    margin-bottom: 1.75rem;
  }

  .latest-article__text-container {
    display: flex;
    flex-direction: row;
    gap: 1.875rem;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }

    h1 {
      flex: 1 1;
    }

    div {
      flex: 1 1;

      button {
        margin-top: 1.875rem;
        border: none;
        background-color: colors.$p16-accent-color;
        color: colors.$p16-light-color;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.5rem;
        letter-spacing: 0.2734rem;
        padding: 0.75rem 2.0625rem;
        cursor: pointer;
        &:hover {
          background-color: colors.$p16-dark-color;
        }
      }
    }
  }
}

// News List Right Panel ---------------------------------------

.other-news {
  grid-area: other-news;
  background-color: colors.$p16-dark-color;
  display: flex;
  flex-direction: column;
  gap: 1.9375rem;
  padding: 1.9375rem 1.5rem;

  .new-article {
    > p {
      margin-top: 0.5rem;
      color: colors.$p16-subtle-color;
    }
  }
  .new-article:not(:last-child) {
    border-bottom: 1px solid colors.$p16-body-color;
    > p {
      margin-bottom: 1.875rem;
    }
  }
}

// Top 3 News --------------------------------------------------

.top-3 {
  grid-area: top-3;
  margin-top: 4.4375rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;

  @media screen and (max-width: 800px) {
    flex-direction: column;
    margin-top: 4rem;
  }

  .top-3__element {
    flex: 1 1;
    display: flex;
    flex-direction: row;
    gap: 1.875rem;

    img {
      width: 6.25rem;
      height: max-content;
    }

    span {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2rem;
      color: colors.$p16-subtle-color;
    }
    h4 {
      margin-bottom: 0.5625rem;
      margin-top: 0.75rem;
      cursor: pointer;
      &:hover {
        color: colors.$p16-accent-color;
      }
    }
  }
}
