@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #19a1ae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kumbh Sans", sans-serif;
}

.left-deco {
  position: fixed;
  width: 61.125rem;

  height: 61rem;
  left: -30.4275rem;
  top: -44.49rem;
  border-radius: 9999px;
  background: linear-gradient(
    180deg,
    rgba(9, 137, 180, 0.0001) 0.78%,
    #53ffee 99.94%
  );
  mix-blend-mode: normal;
  opacity: 0.5;
  transform: rotate(-135deg);
  z-index: 299;
}

.right-deco {
  position: fixed;
  width: 61.125rem;
  height: 61rem;
  right: -26.99rem;
  bottom: -42.1775rem;
  border-radius: 9999px;
  background: linear-gradient(
    180deg,
    rgba(9, 137, 180, 0.0001) 0.78%,
    #53ffee 99.94%
  );
  mix-blend-mode: normal;
  opacity: 0.25;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}

.card-container {
  height: 23.375rem;
  position: relative;
  width: 350px;
  border-radius: 0.9375rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  -moz-box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);

  .card-background {
    background-image: url("./images/bg-pattern-card.svg");
    position: absolute;
    height: 8.75rem;
    width: 100%;
    border-radius: 0.9375rem 0.9375rem 0 0;
  }
  .avatar-container {
    z-index: 1;
    text-align: center;
    line-height: 1.395rem;
    width: 100%;
    padding-bottom: 1.75rem;
    border-bottom: 1px solid #e8e9ec;

    img {
      display: block;
      text-align: center;
      height: 6rem;
      width: 6rem;
      border: 5px solid white;
      border-radius: 999px;
      margin-top: 5.75rem;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 18px;
      font-weight: 700;
      margin-right: 0.5313rem;
      display: inline-block;
    }
    h2 {
      font-size: 18px;
      display: inline-block;

      font-weight: 400;
      color: #6b7082;
    }
    span {
      margin-top: 0.5rem;
      display: block;
      font-size: 0.875rem;
      color: #6b7082;
      line-height: 1.085rem;
    }
  }
  .data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 2.9375rem;
    text-align: center;
    width: 100%;

    .followers,
    .likes,
    .photos {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span:first-child {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.375rem;
        margin-bottom: 0.5625rem;
      }
      span:last-child {
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.75rem;
        color: #6b7082;
      }
    }
  }
}
