@use "./colors";
@import "./fonts";

.lim-section {
  margin-bottom: 7.5rem;
  max-width: 72.5rem;
  position: relative;
  width: 100%;
  margin-top: 7.5rem;

  > svg {
    position: absolute;
    top: 15.6875rem;
    left: 10.3125rem;
  }
}

.lim-section__text {
  position: absolute;
  width: 35.25rem;

  h2 {
    margin-bottom: 2.1875rem;
    @include heading-l;
  }

  span {
    color: colors.$p14-dark-electric-blue;
  }
}

.lim-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2rem;
  justify-items: center;
  grid-template-areas:
    ". lim-gender"
    "lim-age lim-muscle"
    "lim-preg lim-race";
}
.lim-gender {
  grid-area: lim-gender;
}
.lim-age {
  grid-area: lim-age;
  justify-self: self-end;
  margin-right: -12.4063rem;
}
.lim-muscle {
  grid-area: lim-muscle;
  justify-self: self-end;
}
.lim-preg {
  grid-area: lim-preg;
  justify-self: self-end;
}
.lim-race {
  grid-area: lim-race;
  justify-self: self-start;
}

.lim-gender,
.lim-age,
.lim-muscle,
.lim-preg,
.lim-race {
  width: 22.8125rem;
  background: #ffffff;
  box-shadow: 16px 32px 56px rgba(143, 174, 207, 0.25);
  border-radius: 16px;
  padding: 2rem;

  svg {
    margin: auto;
    display: inline-block;
    vertical-align: middle;
  }

  h3 {
    display: inline-block;
    vertical-align: middle;
    @include heading-s;
    margin-left: 1rem;
  }
  span {
    margin-top: 1rem;
    display: block;
    color: colors.$p14-dark-electric-blue;
  }
}
