@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Poppins", sans-serif;
  inset: 0;
  position: absolute;
  background-color: hsl(0, 0%, 86%);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app-container {
  width: 840px;
  padding: 4rem;
  border-radius: 1rem 1rem 13rem 1rem;
  background-color: white;
}

.input-fields-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid hsl(0, 0%, 86%);
}

button {
  float: right;
  background-color: hsl(259, 100%, 65%);
  border-radius: 999px;
  border: none;
  width: 96px;
  height: 96px;
  margin-top: -48px;
}

.fields-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.fields-container label {
  color: hsl(0, 1%, 44%);
  font-size: 0.9rem;
}
.fields-container input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(0, 0%, 86%);
  font-weight: 800;
  font-size: xx-large;
  width: 160px;
}
.fields-container input:focus {
  outline: 1px solid hsl(259, 100%, 65%);
}
.error-message {
  color: hsl(0, 100%, 67%);
  font-style: italic;
  margin-top: 0.3rem;
}
.results-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-style: italic;
  font-size: 7rem;
  line-height: 7.5rem;
}
.result-number {
  color: hsl(259, 100%, 65%);
}
.result-number > span {
  color: black;
}
