@import "./vars.scss";

footer {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 2.12rem;
  width: 100%;
}

.top-footer {
  background-color: $black-base;
  border-radius: 0.625rem;
  color: $light-color;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 4rem;

  div {
    max-width: 33.75rem;
    display: flex;
    flex-direction: column;
    gap: 1.56rem;
  }
  button {
    background-color: $red-base;
  }
}
