@import "./vars.scss";

.me-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7.81rem;
  margin-bottom: 5.5rem;

  img {
    height: 27.8125rem;
    width: 27.8125rem;
  }
  button {
    background-color: $red-base;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }
  p {
    color: $gray-base;
  }
}
