@use "./colors";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    background-color: transparent;
    border: none;
    padding-right: 1rem;
    border-right: 1px solid colors.$p8-g-300;
    span {
      margin-right: 1rem;
      font-weight: 800;
      color: inherit;
    }
    .arrow-font {
      transition: all 0.2s ease-in-out;
    }
  }

  .dark-light-switch {
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
    margin-left: 1rem;
    margin-right: 1rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    span {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: colors.$p8-g-400;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 0.625rem;
    }
    span:before {
      position: absolute;
      content: "";
      height: 0.875rem;
      width: 0.875rem;
      left: 0.1875rem;
      bottom: 0.1875rem;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      border-radius: 0.625rem;
    }
    input:checked + span {
      background-color: colors.$p8-a-purple;
    }

    input:focus + span {
      box-shadow: 0 0 1px colors.$p8-a-purple;
    }

    input:checked + span:before {
      -webkit-transform: translateX(1.25rem);
      -ms-transform: translateX(1.25rem);
      transform: translateX(1.25rem);
    }
  }

  .font-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    button {
      cursor: pointer;
    }
  }

  .dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: 1.5rem 0 1.5rem 1.5rem;
    background-color: colors.$p8-g-100;
    border-radius: 0.8889rem;
    z-index: 20;
    top: 2rem;
    right: 6.5rem;
    min-width: 11.4375rem;
    transition-property: all;
    transition-duration: 0.2s;
    transform-origin: top;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    button:nth-child(1) {
      font-family: "Inter", sans-serif;
      font-weight: 700;
    }
    button:nth-child(2) {
      font-family: "Lora", serif;
      font-weight: 700;
    }
    button:nth-child(3) {
      font-family: "Inconsolata", monospace;
      font-weight: 700;
    }
    button:not(:last-child) {
      margin-bottom: 0.8889rem;
    }
  }
}
.dropdown-menu[menuOpen="1"] {
  transform: translateY(1rem);
  opacity: 1;
}
.dropdown-menu[menuOpen="0"] {
  transform: translateY(0);
  opacity: 0;
  visibility: hidden;
}

.arrow-font[menuOpen="0"] {
  transform: rotate(0);
}
.arrow-font[menuOpen="1"] {
  transform: rotate(180deg);
}
