@import "./vars.scss";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2.25rem;

  @include breakpoint(mobile) {
    margin-bottom: 1.5rem;
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;

    span {
      margin-right: 1rem;
      font-weight: 700;
      font-size: 0.8125rem;
      letter-spacing: 0.1563rem;
      color: $p7-dark-blue-gray;
    }
  }
}

h1 {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2.4069rem;
}
